<div *ngIf="responseMessage == 'success'; then challenge"></div>
<div *ngIf="responseMessage == 'genericError'; then genericErrorPage"></div>
<div *ngIf="responseMessage == 'invalidLink'; then errorPage"></div>
<ng-template #challenge>
    <div class="dialog-title">
        <p>Before we begin, we need to verify your identity. Please answer the following questions:</p>
    </div>
     <div class="overview-form" style="padding:10px 0px;">
                <mat-form-field [hidden]="!qOne" >
                    <mat-select placeholder="{{challenges[0].challenge}}" [(ngModel)]="selectedYear" name="year">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                     
                <div>
                    <div [hidden]="!qOneInfo">
                    <div class="sa-ds-full" style="display: flex;" > 
                    <span class="sa-ds-thirty sa-grey">{{challenges[0].challenge}}</span>
                    <span class="sa-ds-seventy">
                    <mat-icon color="warn"style="margin: 5px;float: left;">warning</mat-icon>
                    <p style="color:red;padding: 5px 0px;">The answer is <b>incorrect</b>.
                    <br> You will have one more question to verify your identity.</p>
                    </span>
                    </div>
                </div>
    
                <div [hidden]="!qTwoInfo">
                    <div class="sa-ds-full" style="display: flex;">
                            <span class="sa-ds-thirty sa-grey">{{challenges[question].challenge}}</span>
                            <span class="sa-ds-seventy">
                            <mat-icon color="warn"style="margin: 5px;float: left;">warning</mat-icon>
                            <p style="color:red;padding: 5px 0px;">The answer is <b>incorrect</b>.
                            </span>
                            </div>
                        </div>
                <mat-form-field class="overview-full-width" [hidden]="!qTwo">
                    <input matInput placeholder="{{challenges[question].challenge}}" [(ngModel)]="zipcodeValue" style="width:100%">
                </mat-form-field>
                <p style="color:red;padding: 5px 0px;" [hidden]="!qTwoInfo">You have exceeded the number of allowable attempts.  Please contact <b>Customer Service</b> at <b>877-SAHELPS</b> to proceed with your request.</p>
            </div>
            </div>
    
            <button  [hidden]="qTwoInfo" type="button" color="primary" mat-raised-button [disabled]="!selectedYear" (click)="submitChallenge(challenges[question].id,challenges[question].id)" style="float:right;">Submit</button>
            <button  [hidden]="!qTwoInfo" type="button" color="warn" mat-raised-button [disabled]="!selectedYear" (click)="submitChallenge(challenges[question].id)" style="float:right;">Close</button>
        </ng-template>


<mat-dialog-content>
<ng-template #errorPage>
        <div class="genericErrorText">
            You have exceeded the number of allowable attempts. <br>      
            Please contact Customer Service at 877-SAHELPS for further assistance.
             <br>Generic Error. code:
        </div>
        <button type="button" class="closeDiaBtn" mat-raised-button (click)="closeDialog()" style="float:right;">CLOSE</button> 
</ng-template>
</mat-dialog-content>
<mat-dialog-content>
<ng-template #genericErrorPage>
        <div class="genericErrorText">      
            Please contact <b>Customer Service at 877-SAHELPS </b>for further assistance.
             <br>Generic Error. code:
        </div>
            <button type="button" class="closeDiaBtn" mat-raised-button (click)="closeDialog()" style="float:right;">CLOSE</button> 
</ng-template>
</mat-dialog-content>


