<div class="container-fluid sa-header-block">

  <mat-toolbar color="primary">
    <img class="sa-logo" src="assets/images/logo.jpg"/>
    <span class="example-spacer"></span>
    <mat-input-container>
          <input matInput>
    </mat-input-container>
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>message</mat-icon>
    </button>
  </mat-toolbar>



  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>


